{% extends 'ourschool/base.html' %}
{% load static %}
{% block title %}Editar Animal{% endblock %}

{% block content %}
<h2 class="mb-4">Editar Animal</h2>

<div class="card shadow p-4">

<img src="{{ a.foto.url }}" width="200" class="rounded mb-3">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label>Código</label>
        <input type="text" name="codigo" value="{{ animal.codigo }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ animal.nombre }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Nueva foto (opcional)</label>
        <input type="file" name="foto" class="form-control">
    </div>

    <button class="btn btn-warning">Actualizar</button>
</form>

</div>

{% endblock %}
