{% extends 'ourschool/base.html' %}
{% load static %}

{% block title %}Mis Animales{% endblock %}

{% block content %}


<div class="d-flex flex-wrap justify-content-between align-items-center gap-2 ">

    <!-- Botón atrás 
    <a href="{% url 'inicio_estudiante' %}" class="btn btn-primary">
        ←
    </a>-->

    <!-- Botón nuevo animal -->
    <a href="{% url 'crear_animal' %}" class="btn btn-primary">
        + Nuevo Animal
    </a>

    <!-- Buscador -->
    <form method="GET" action="" class="flex-grow-1" style="min-width: 200px;">
        <input type="text" name="q" class="form-control" placeholder="Buscar por nombre o ID..."
            value="{{ request.GET.q }}">
    </form>

</div>


<div class="row">
    {% for a in animales %}
    <div class="col-md-4">
        <div class="card shadow mb-4">
            {% if a.foto %}
            <img src="{{ a.foto.url }}" class="card-img-top" alt="Foto animal">
            {% else %}
            <img src="{% static 'img/cowdb.png' %}" class="card-img-top" alt="Foto por defecto">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ a.nombre }}</h5>
                <p class="card-text">Código: <strong>{{ a.codigo }}</strong></p>

                <a href="{% url 'detalle_animal' a.id %}" class="btn btn-info btn-sm">Detalles</a>
                <a href="{% url 'editar_animal' a.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'eliminar_animal' a.id %}" class="btn btn-danger btn-sm"
                    onclick="return confirm('¿Estás seguro de eliminar?')">Eliminar</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No tienes animales registrados aún.</p>
    {% endfor %}
</div>

{% endblock %}